body {
    background: #eee;
    color: #333;
    font-family: sans-serif;
    margin: 0;
    min-height: 100%;
    position: relative;
    padding: 0;
}

header {
    background: #666;
    color: #ccc;
    height: 40px;
    margin: 0;
    padding: 5px;
    position: relative;
}

#cwc_menu img {
    width:30px;
}

header li p a {
    color:#333;
    display:block;
    text-decoration:none;
    width:100%;
}

header li p a:hover {
    background-color:#ddd;
}

header ul {
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 0;
}

header li {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 30px;
    margin: 0;
    padding: 5px 5px 10px;
    position: relative;
    vertical-align:top;
}

header li:hover {
    background: #ccc;
    box-shadow: #333 0 -1px 2px;
    color: #666;
}

header li div {
    background: #ccc;
    border-radius: 0 5px 5px 5px;
    box-shadow: #333 0 1px 2px;
    color: #333;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 40px;
    white-space: nowrap;
}

header li:hover div {
    display: block;
}

header li h3 {
    border-bottom: 1px solid #666;
    color: #666;
    margin: 0 0 5px;
    padding-bottom:5px;
    min-width: 100px;
}

header li h4 {
    border-top: 1px solid #666;
    margin: 5px 0 5px;
    padding-top: 5px;
}
header li h4:nth-child(2) {
    border-top: none;
    padding-top: 0;
}

header li p {
    margin: 5px 0 0;
    white-space: nowrap;
}

header label {
    text-align:left;
}

header input[type="button"] {
    float:right;
}

#files_menu input[type="text"] {
    width: 8em;
}

#sizes_menu input[type="text"] {
    width: 3em;
}

.menu_name {
    border:1px solid #f66;
    display:inline-block;
    padding:2px 5px;
}

#chart {
    border: solid 1px #000;
    border-spacing: 0;
    margin: 10px auto;
}

#chart td {
    border: solid 1px #eee;
    height: 40px;
    width: 10px;
}

#chart td.border_top {
    border-top-color: #000;
}

#chart td.border_left {
    border-left-color: #000;
}

#chart td.border_right {
    border-right-color: #000;
}

#chart td.border_bottom {
    border-bottom-color: #000;
}

#chart td.middle_right {
    border-right-color: #f88;
}

#chart td.border_right.middle_right {
    border-right-color: #c00;
}

#chart td.middle_left {
    border-left-color: #f88;
}

#chart td.border_left.middle_left {
    border-left-color: #c00;
}

#chart tr:nth-child(even) {
    background-color: #bbf
}

#chart tr:nth-child(odd) {
    background-color: #fff
}

#chart tr:nth-child(even) td.toggled {
    background-color: #fff
}

#chart tr:nth-child(odd) td.toggled {
    background-color: #ddddff
}
